@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    background-color: white;
    font-family: Poppins;
    /* max-width: 200em; */
}
html{
    scroll-behavior: smooth;
}

:root{
    --item1-transform: translateX(-100%) translateY(-5%) scale(1.5);
    --item1-filter: blur(30px);
    --item1-zIndex: 11;
    --item1-opacity: 0;

    --item2-transform: translateX(0);
    --item2-filter: blur(0px);
    --item2-zIndex: 10;
    --item2-opacity: 1;

    --item3-transform: translate(90%,10%) scale(0.8);
    --item3-filter: blur(10px);
    --item3-zIndex: 9;
    --item3-opacity: 1;

    --item4-transform: translate(90%,20%) scale(0.5);
    --item4-filter: blur(30px);
    --item4-zIndex: 8;
    --item4-opacity: 1;
    
    --item5-transform: translate(120%,30%) scale(0.3);
    --item5-filter: blur(40px);
    --item5-zIndex: 7;
    --item5-opacity: 0;
}
header {
    background-color: #333;
    padding: 10px 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.l {
    max-width: 150px;
}

.menu-toggle {
    display: none; /* Hidden by default, will be shown in mobile view */
    font-size: 24px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust based on your header padding */
    left: 10px; /* Move it to the left corner */
    z-index: 1001; /* Ensure it stays on top */
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

ul.nav li {
    position: relative;
}

ul.nav li a {
    padding: 10px 15px;
}

ul.dropdown {
    display: none;
    position: absolute;
    top: 100%; /* Ensure it appears below the parent item */
    left: 0;
    background-color: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    z-index: 1000; /* Ensure dropdowns are on top */
}

ul.dropdown li a {
    padding: 10px;
    display: block;
    white-space: nowrap;
}

ul.nav li:hover .dropdown {
    display: block;
}

.contact {
    background-color: #f0f0f0;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .menu-toggle {
        display: block;
    }

    ul.nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    ul.nav.active {
        display: flex;
    }

    ul.nav li {
        width: 100%;
        position: relative;
    }

    ul.dropdown {
        display: none;
        position: static; /* Static positioning to avoid overlap */
        background-color: #333;
        width: 100%; /* Full width for mobile dropdown */
        z-index: 1000; /* Ensure dropdown is on top */
    }

    ul.nav li.open .dropdown {
        padding-left:30px;
        display: block;
    }

    /* Ensure dropdowns appear below their parent item */
    ul.nav li {
        margin-bottom: 0; /* Ensure there's no extra space */
    }
}




#brands{
    /* background-color: red; */
    width: 90%;
    height: 86vh;
    margin-left: 5em;
    border-radius: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3em;
    margin-bottom: 4em;
}


@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
}
header{
  
    display: flex;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
}
#sidebar-active{
    display: none;
}
.open-sidebar-button ,.close-sidebar-button {
    display: none;
}

.bar{
    width:180%;
   
    margin-bottom: 1.5rem;

}
nav{
       width: 100%;

       /* background-color: red; */
       max-height: 75px;
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.l{
       /* margin-top: 0.7em; */
       margin-left: 1em;
       height: 70px;
       width: 70px;
       /* align-items: center; */
       /* background-color: red; */
    }
ul {
    list-style: none;
    text-align: center;
    }
    ul li {
    display: inline-block;
    /* position: relative; */
    }
ul li a {
    display: flex;
    align-items: center;
    padding: 20px 25px;
    color: grey;
    text-decoration: none;
    text-align: start;
    font-size: 16px;
    font-family: poppins;
    }
ul li ul.dropdown  li {
    display: block;
    background:transparent;
    color: white;
    margin: 2em;
    margin: 2px 0px;
    }
ul li ul.dropdown  {
    width:auto;
    background: rgba(0, 0, 0, 0.735);
    position: absolute;
    z-index: 999;
    color: white;
    display: none;
    border-radius: 10px;
    }
    ul li a:hover {
    text-decoration: underline;
    transition: 0.5s;
    }
ul li:hover ul.dropdown {
    display: block;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
ul li .dropdown li a{
       color: white;
       text-decoration: none;
    }
ul li .dropdown li a:hover{
       text-decoration: underline;
    
    }
.contact{
       background-color: black;
       color: white;
       border: none;
       margin-top: 1em;
       padding: 1em 1.5em;
       border-radius: 50px;
       cursor: pointer;
       font-family: poppins;
       font-weight: bold;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ;
       margin-right: 2em;
    }
.contact:hover{
       background-color: rgba(128, 128, 128, 0.699);
       color: black;
       transition: 0.5s;
    }
    
.container {
  margin-left: auto;  /* mx-auto: center horizontally */
  margin-right: auto; /* mx-auto: center horizontally */
  display: flex;      /* flex: flexbox container */
  flex-direction: column;  /* flex-col: stacks children vertically */
  align-items: center;     /* items-center: centers children horizontally */
  padding-bottom: 1.5rem;  /* pb-6: padding-bottom 6 * 0.25rem = 1.5rem */
  margin-bottom: 1rem;     /* mb-4: margin-bottom 4 * 0.25rem = 1rem */
}

/* Media query for medium-sized screens and larger */
@media (min-width: 768px) {
  .container {
    padding: 2.5rem;       /* md:p-10: padding 10 * 0.25rem = 2.5rem */
    padding-left: 3rem;    /* md:px-12: padding-left 12 * 0.25rem = 3rem */
    padding-right: 3rem;   /* md:px-12: padding-right 12 * 0.25rem = 3rem */
  }
}

#racket{
    /* background-color: red; */
    width: 90%;
    height: 86vh;
    margin-left: 5em;
    border-radius: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 4em;
    /* background-color: red; */
    /* position: absolute; */
    
}


/* carousel */

.carousel{
    position: relative;
    height: 800px;
    overflow: hidden;
    margin-top: -50px;
    margin-top: 1em;
    /* background-color: red; */

}
.carousel .list{
    position: absolute;
    width: 1140px;
    max-width: 90%;
    height: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.carousel .list .item{
    position: absolute;
    left: 0%;
    width: 70%;
    height: 100%;
    font-size: 15px;
    transition: left 0.5s, opacity 0.5s, width 0.5s;
}
.seeall{
    border: none;
    
    border-bottom: 1px solid #555;
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px;
    /* opacity: 0; */
    transition: opacity 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: black;

}
.seeall:hover{
    border-radius: 10px;
    background-color: black;
    color: white;
}
.carousel .list .item:nth-child(n + 6){
    opacity: 0;
}
.carousel .list .item:nth-child(2){
    z-index: 10;
    transform: translateX(0);
}
.carousel .list .item img{
    max-width: 50%;
    position: absolute;
    right: -30%;
    top: 45%;
    transform: translateY(-50%);
    transition: right 1.5s;
}

.carousel .list .item .introduce{
    opacity: 0;
    pointer-events: none;
}
.carousel .list .item:nth-child(2) .introduce{
    opacity: 1;
    pointer-events: auto;
    width: 400px;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    transition: opacity 0.5s;
}
.carousel .list .item .introduce .title{
    font-size: 2em;
    font-weight: 500;
    line-height: 1em;
}
.carousel .list .item .introduce .topic{
    font-size: 4em;
    font-weight: 500;
}
.carousel .list .item .introduce .des{
    font-size: small;
    color: #5559;
}
.carousel .list .item .introduce .seeMore{
    font-family: Poppins;
    margin-top: 1.2em;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 3px;
    transition: background 0.5s;
}
.carousel .list .item .introduce .seeMore:hover{
    background: #eee;
}
.carousel .list .item:nth-child(1){
    transform: var(--item1-transform);
    filter: var(--item1-filter);
    z-index: var(--item1-zIndex);
    opacity: var(--item1-opacity);
    pointer-events: none;
}
.carousel .list .item:nth-child(3){
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    z-index: var(--item3-zIndex);
}
.carousel .list .item:nth-child(4){
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    z-index: var(--item4-zIndex);
}
.carousel .list .item:nth-child(5){
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
    pointer-events: none;
}
/* animation text in item2 */
.carousel .list .item:nth-child(2) .introduce .title,
.carousel .list .item:nth-child(2) .introduce .topic,
.carousel .list .item:nth-child(2) .introduce .des,
.carousel .list .item:nth-child(2) .introduce .seeMore{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
@keyframes showContent{
    from{
        transform: translateY(-30px);
        filter: blur(10px);
    }to{
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
}
.carousel .list .item:nth-child(2) .introduce .topic{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(2) .introduce .des{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(2) .introduce .seeMore{
    animation-delay: 1.6s;
}
/* next click */
.carousel.next .item:nth-child(1){
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
@keyframes transformFromPosition2{
    from{
        transform: var(--item2-transform);
        filter: var(--item2-filter);
        opacity: var(--item2-opacity);
    }
}
.carousel.next .item:nth-child(2){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
@keyframes transformFromPosition3{
    from{
        transform: var(--item3-transform);
        filter: var(--item3-filter);
        opacity: var(--item3-opacity);
    }
}
.carousel.next .item:nth-child(3){
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
@keyframes transformFromPosition4{
    from{
        transform: var(--item4-transform);
        filter: var(--item4-filter);
        opacity: var(--item4-opacity);
    }
}
.carousel.next .item:nth-child(4){
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition5{
    from{
        transform: var(--item5-transform);
        filter: var(--item5-filter);
        opacity: var(--item5-opacity);
    }
}
/* previous */
.carousel.prev .list .item:nth-child(5){
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(4){
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(3){
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.carousel.prev .list .item:nth-child(2){
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
@keyframes transformFromPosition1{
    from{
        transform: var(--item1-transform);
        filter: var(--item1-filter);
        opacity: var(--item1-opacity);        
    }
}

/* detail  */
.carousel .list .item .detail{
    opacity: 0;
    pointer-events: none;
}
/* showDetail */
.carousel.showDetail .list .item:nth-child(3),
.carousel.showDetail .list .item:nth-child(4){
    left: 100%;
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2){
    width: 100%;
}
.carousel.showDetail .list .item:nth-child(2) .introduce{
    opacity: 0;
    pointer-events: none;
}
.carousel.showDetail .list .item:nth-child(2) img{
    right: 50%;
}
.carousel.showDetail .list .item:nth-child(2) .detail{
    opacity: 1;
    width: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    pointer-events: auto;
}
.carousel.showDetail .list .item:nth-child(2) .detail .title{
    font-size: 4em;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications{
    display: flex;
    gap: 10px;
    width: 100%;
    border-top: 1px solid #5553;
    margin-top: 20px;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications div{
    width: 90px;
    text-align: center;
    flex-shrink: 0;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications div p:nth-child(1){
    font-weight: bold;
}
.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button{
    font-family: Poppins;
    background-color: transparent;
    border: 1px solid #5555;
    margin-left: 5px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: 500;
}
.carousel.carousel.showDetail .list .item:nth-child(2) .checkout button:nth-child(2){
    background-color: #693EFF;
    color: #eee;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .title,
.carousel.showDetail .list .item:nth-child(2) .detail  .des,
.carousel.showDetail .list .item:nth-child(2) .detail .specifications,
.carousel.showDetail .list .item:nth-child(2) .detail .checkout{
    opacity: 0;
    animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .list .item:nth-child(2) .detail  .des{
    animation-delay: 1.2s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .specifications{
    animation-delay: 1.4s;
}
.carousel.showDetail .list .item:nth-child(2) .detail .checkout{
    animation-delay: 1.6s;
}
.arrows{
    position: absolute;
    /* bottom: 10px; */
    width: 100%;
    /* max-width: 90%; */
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
}
.arrows #prev, #next:hover{
    scale: 1em;

}
#prev,
#next{
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-family: monospace;
    font-size: large;
    left: 10%;
    background-color: transparent;
    font-size: 40px;
    border-style: none;
    cursor: pointer;
}
#next{
    left: unset;
    right: 10%;
    cursor: pointer;
}
#back{
    position: absolute;
    z-index: 100;
    bottom: -500%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    /* border-bottom: 1px solid #555; */
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: transparent;
    padding: 10px;
    /* opacity: 0; */
    transition: opacity 0.5s;
    cursor: pointer;
}
.carousel.showDetail #back{
    opacity: 1;
}
.carousel.showDetail #prev,
.carousel.showDetail #next{
    opacity: 0;
    pointer-events: none;
}
.carousel::before{
    width: 500px;
    height: 300px;
    content: '';
    /* background-image: linear-gradient(70deg, #DC422A, blue); */
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(150px);
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    transition: 1s;
}
.carousel.showDetail::before{
    transform: translate(-100%, -50%) rotate(90deg);
    filter: blur(130px);
}


#brands .brand-logo img{
    width: 250px;
    height: 100px;
    margin: 2em 2em 2em 2em;
    animation: load linear;  
}
.brand-logo{
    display: flex;
    flex-wrap: wrap;
    
}
#brands .brand-logo img:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}
footer{
    position: relative;
    /* height: 20em; */
    height: 25em;
    width: 100%;
    background-color: #212529;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40%;
    top: 20%;
    }
.social a{
    text-decoration: none;
    /* height: 50px; */
    
    /* padding: 20px 20px; */
    background-color: transparent;
    margin: 20px;
    border-radius: 50%;
}
.social a i{
    font-size: 2.5em;
    text-decoration: none;
    color: white;

}
.social a:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.address{
    /* position: absolute; */
    /* background-color: red; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 41%;
}

.det{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 57%;
    color: grey;
}
.call a{
    color: grey;
}
.call a:hover{
    color: blue;
    transition: 0.3s;
}
.loca{
    width: 430px;
    height: 70px;
    /* background-color: red; */
}
.z{
    position: fixed;
    font-size: 80px;
    bottom: -200%;
    right: -120%;
    z-index: 999;
    width: 600px;
    opacity: 0.08;
}

.d{
    color: red;
}
.red{
    color: red;
}
.d-sports{
    z-index: 9999;
    position: absolute;
}
